{{ define "main" }}

{{ partial "navigation.html" . }}

{{ partial "banner.html" . }}

{{ partial "about.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ partial "solutions.html" . }}

{{ partial "services.html" . }}

{{ partial "skills.html" . }}

<!-- // TODO(sameet): enable later if required and implemented -->
<!-- {{ partial "team.html" . }} -->

{{ partial "testimonial.html" . }}

{{ partial "blog.html" . }}

{{ partial "contact.html" . }}

<!-- // TODO(sameet): enable later if required and implemented -->
<!-- {{ partial "map.html" . }} -->

{{ end }}
